@import 'tailwindcss';
@theme {
    --animate-heart-bounce: heart-bounce 1.5s ease-in-out infinite;

    @keyframes heart-bounce {
        0%,
        100% {
            transform: translateY(0) rotate(32deg);
        }
        50% {
            transform: translateY(-6%) rotate(32deg);
        }
    }
}

/* Firefox (scrollbar) */
* {
    scrollbar-width: thin;
    scrollbar-color: #500724 #dfe9eb;
}

/* Chrome, Edge and Safari (scrollbar) */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #500724;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #500724;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #6e6e6e;
}

body {
    /* background-color: #500724; */
    overflow-x: hidden;
}

.big-card {
    border-radius: 2vmin;
}

/* Clerk elements */
.cl-internal-1dauvpw {
    display: none;
}

.cl-internal-1hp5nqm {
    display: none;
}

@media (max-width: 768px) {
    .cl-avatarBox {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
    }

    .cl-userButtonPopoverCard {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .cl-internal-1grbo8b {
        max-width: 100%;
    }
}

.quiz-game {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.quiz-creation {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-1.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.quiz-complete {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/gifs/quiz-complete.gif');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.quiz-bg-1 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-1.jpg');
}

.quiz-bg-2 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-2.jpg');
}

.quiz-bg-3 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-3.jpg');
}

.quiz-bg-4 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-4.jpg');
}

.quiz-bg-5 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-5.jpg');
}

.quiz-bg-6 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-6.jpg');
}

.quiz-bg-7 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-7.jpg');
}

.quiz-bg-8 {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/images/quiz/background/ive-bg-8.jpg');
}

.dotted {
    background-image: radial-gradient(#ffffff25 2px, transparent 2px);
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0);
}
