@import 'tailwindcss';
@theme {
    --animate-heart-bounce: heart-bounce 1.5s ease-in-out infinite;

    @keyframes heart-bounce {
        0%,
        100% {
            transform: translateY(0) rotate(32deg);
        }
        50% {
            transform: translateY(-6%) rotate(32deg);
        }
    }
}

/* Firefox (scrollbar) */
* {
    scrollbar-width: thin;
    scrollbar-color: #500724 #dfe9eb;
}

/* Chrome, Edge and Safari (scrollbar) */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #500724;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #500724;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #6e6e6e;
}

body {
    /* background-color: #500724; */
    overflow-x: hidden;
}

.big-card {
    border-radius: 2vmin;
}

/* Clerk elements */
.cl-internal-1dauvpw {
    display: none;
}

.cl-internal-1hp5nqm {
    display: none;
}

.cl-userButtonPopoverActionButton__manageAccount {
    display: none;
}

.cl-userButtonPopoverCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cl-internal-1grbo8b {
    max-width: 100%;
}
